@import "tailwindcss";

@theme {
  --color-primary: #B25A38;
  --color-background-light: #FBF9F6;
  --color-background-dark: #2A2420;
  --font-display: "Plus Jakarta Sans", sans-serif;
  --radius-default: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;
}

body {
  background-color: var(--color-background-light);
  color: #0f172a; /* text-slate-900 */
  font-family: var(--font-display);
  min-height: max(884px, 100dvh);
}